<h1>About</h1>
<p>
	<%= link_to "Hoplite", "http://google.com" %> is a donation based website. Turning consumerism into a benefit for all. 		
	
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %> This is the sample application.
</p>

