<div class="row">
	<div class="row1">
	<div class="span3">
		<div class="pull-left">	
			<h2> Navigation Bar</h2>
					<div class="accordion" id="accordion2">
							<div class="accordion-group">
									<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
										Charities
									</a>
									</div>
								<div id="collapseOne" class="accordion-body collapse in">
								<div class="accordion-inner">
								<h4> List of Charities </h4>
									<div id="collapseOne" class="accordion-body collapse in"> 
										<p> <%= link_to "Wikipedia", "http://wikipedia.com"%> </p>
									</div> 	
								</div>
								</div>
							</div>
							<div class="accordion-group">	
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
										Websites onboard
									</a>
								</div>
							<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner">
							List of affiliated websites
							</div>
							</div>
							</div>
						</div>
					</div>
				</div>
					</div>
		

<div class="offset3">
	<div class="row8">
		<h1> Charity 1 </h1>
			<p> This charity's transparency info <%= link_to "Treehugger", "http://onemonthrails.com" %> application </p>
			<p> <%= link_to "Sign Up Now!", "#" %> </p>
	</div>
</div>
</div>

