<% if user_signed_in? %>
  <h1> You're Logged in! </h1>
<% else %>

<div class="hero-unit">
<h1>Coming soon...</h1>

<p>
	The product is still in development.  
	<%= link_to "For now itll link to Treehugger.com- News on everything green", "http://treehugger.com" %> .
</p>
<p> 
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>
<% end %>


<!-- Rails has a helper that converts 
<a href=”http://www.google.com”> One Month Rails </a>
with 
<%=link_to “onemonthrails”, “http://www.onemonthrails.com” %>
  now when you inspect the element, in the browser it will still show as html “href”, not as the rails shortcut- the code is converted into straightforward html, then given to the user.




 I added these drop down menues below 

<div class="pull-right">
<div class="row">
<div class="span3">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Charities
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        List of Charities
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Websites onboard
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        List of affiliated websites
      </div>
    </div>
  </div>
</div>
</div>
</div> -->








 


