
/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

/*this is where you can change the font for the entire website*/

/*These are for the navigation bar on top and the button*/
$btnPrimaryBackgroundHighlight: lightblue;
$btnPrimaryBackground: gray;
$navbarBackgroundHighlight: white;
$navbarBackground: lightblue;
$bodyBackground: white;

@import 'bootstrap';

body 
	{
	padding-top: 60px;
	}


@import 'bootstrap-responsive';


/*.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}
This is to get rid of the outline for the navbar on top
*/

.footer {
	margin-top: 200px;
	color: $grayLight;
a {
	color: $gray;
}
}
