<div class="footer">
	<small>
		<%= link_to "Learning ruby on rails.", "http://onemonthrails.com" %>
		Also, check out this <%= link_to "Cool ted talk", "http://youtube.com/watch?v=Mjv8Zj1ABAc.com"%>
	</small>
</div>